 <% provide(:title, "quan ly booking")%>
 <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          
          <div class="card">
            <div class="card-header card-header-primary" >
              <h4 class="card-title ">Booking</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary text-center">
                    <th>ID</th>
                    <th>Tên Loại Tour</th>
                    <th>Ngày Khởi Hành</th>
                    <th>Ngày Kết Thúc</th>
                    <th>Tên Người Book Tour</th>
                    <th>Số Chỗ Book</th>
                    <th>Giá Tour</th>
                  </thead>
                  <tbody>
                    <% @admin_bookings.each do |admin_booking| %>
                    <% if admin_booking.status ==  true %>
                    <tr class="text-center">
                      <td><%= admin_booking.id %></td>
                      <td><%= admin_booking.description_detail.tour.name %></td>
                      <td><%= l admin_booking.description_detail.start_day, format: "%d-%m-%Y" %></td>
                      <td><%= l admin_booking.description_detail.end_day, format: "%d-%m-%Y" %></td>
                      <td><%= admin_booking.user.name %></td>
                      <td><%= admin_booking.quantity %></td>
                      <td><%= admin_booking.price  %> $</td>
                    </tr>
                    <% else %>
                    <% end %>
                    <% end %>     
                  </tbody>
                </table>
              </div>
            </div>
             <%= will_paginate @admin_bookings %>
          </div>
        </div>
    </div>
  </div>
</div>