<% provide(:title, "chinh sua tour")%>
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Chinh Sua Tour</h4>
                </div>
                <div class="card-body">
                  <%= form_for [:admin, @admin_tour] do |f| %>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <%= f.label :name, class: 'bmd-label-floating'%>
                          <%= f.text_field :name, class: 'form-control' %>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <%= f.label :category, "Danh Muc", class: "bmd-label-floating" %>
                              <%= f.select(:category_id, options_for_select(@categories.collect{|c| [c.name, c.id]}), {}, { class: "form-control" }) %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label for="exampleInputFile">Hình Ảnh</label>
                        <input type="file" class="form-control-file" id="exampleInputFile" >                                            
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <%= f.label :content%>
                          <%= f.text_field :content, class: 'form-control'%>
                          
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5"></div>
                      <div class="col-md-4">
                        <button type="submit" class="btn btn-primary text-center">Thêm Mới</button>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>   