<% provide(:title, "quan ly danh muc")%>
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <%= link_to "Thêm mới", new_admin_tour_path, class: "btn btn-warning" %>
              <div class="card">
                <div class="card-header card-header-primary" >
                  <h4 class="card-title ">Tour Trong Nước</h4>
                </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary text-center">
                          <th>ID</th>
                          <th>Tên Loại Tour</th>
                          <th>Tên Tour</th>
                          <th>Hình Ảnh</th>
                          <th class="ct" >Nội Dung</th>
                          <th>Chức Năng</th>
                        </thead>
                        <tbody>
                          <% @admin_tours.each do |admin_tour| %>
                          <tr class="text-center">
                            <td><%= admin_tour.id %></td>
                            <td><%= admin_tour.category.name %></a></td>
                            <td><%= link_to admin_tour.name, admin_tour_path(admin_tour) %></td>
                            <td><img src="images/hue.jpg" height="90px" width="150px" alt=""></td>
                            <td class="ct" id="nd">
                            <%= admin_tour.content %>        
                            </td>
                            <td>
                              <%= link_to "Sửa", edit_admin_tour_path(admin_tour) %>
                              <%= image_tag("edit.png") %>
                              <%= link_to admin_tour_path(admin_tour), method: :delete,data: { confirm: "ban muon xoa binh luan?" } do %>
                              Delete
                              <%= image_tag("delete.png") %>
                        <% end %>
                            </td>
                          </tr>   
                          <% end %>                                                                       
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <%= will_paginate @admin_tours %>
            </div>
        </div>
  </div>
</div>