<% provide(:title, "Xác Nhận Thông Tin Tour")%>
<div class="pay">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-4">
                 <%=image_tag("icon_thongtin.png") %>
                <div class="title">Thông Tin</div>
            </div>
            <div class="col-sm-4">
                <%=image_tag("checked.png") %>
                <div class="title">Xác Nhận</div>
            </div>
            <div class="col-sm-4">
                <%=image_tag("icon_thanhtoan.png") %>
                <div class="title">Thanh Toán</div>
            </div>
        </div>
        <div class="row text-center" id="pay-process">
            <div id="process">
                <div class="col-sm-4">
                    <div class="processly">
                        <div class="process-bar"><span class="glyphicon glyphicon-ok"></span></div>
                    </div>
                </div>       
                <div class="col-sm-4">
                    <div class="processly">
                        <div class="process-bar"><span class="glyphicon glyphicon-ok"></span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="processly">
                        
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>

<div class="thanhtoan">
    <div class="container">
        <div>
            <div class="row ">
                <%= form_for(@booking) do |f| %>
                <div class="col-sm-12 thanks text-center" >Xác Nhận Thanh Toán Tour</div>
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>Tên Tour</th>
                            <th>Ngày Khởi Hành</th>
                            <th>Ngày Kết Thúc</th>
                            <th>Giá Tour</th>
                            <th>Số Khách Đi Tour</th>
                            <th>Tổng Thanh Toán</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="warning">
                            <td><%= @booking.description_detail.tour.name  %></td>
                            <td> <%= l @booking.description_detail.start_day, format: "%d-%m-%Y" %></td>
                            <td><%= l @booking.description_detail.end_day, format: "%d-%m-%Y" %></td>
                            <td><%= @booking.description_detail.price %></td>
                            <td><%= @booking.quantity %></td>  
                            <td><%= (@booking.quantity * @booking.description_detail.price )%></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 text-center">
                     <%= f.submit "Thanh Toán", class: "btn btn-warning" %>
                </div>
               <% end %>
            </div>
        </div>
    </div>
        
    </div>
</div>
    