<!DOCTYPE html>
<html lang="en">
<body>
<!-- Silder -->
<div class="slider">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="#">
                    <%=image_tag("da-nang.jpg") %>
                    
                </a>
                <div class="carousel-caption">
                    <h1>Đà Nẵng-Sơn Trà-Bà Nà-Hội An</h1>
                </div>      
            </div>

            <div class="item">
                <a href="">
                    <%=image_tag("NinhBinh2.jpg") %>
                    
                </a>       
                <div class="carousel-caption">
                    <h1>Tràng An- Chùa Bái Đính - Hang Múa</h1>
                </div>      
            </div>
            <div class="item">
                <a href="">
                    <%=image_tag("thailand.jpg") %>
                   
                </a>
                <div class="carousel-caption">
                    <h1>Thái Lan</h1>
                </div>      
            </div>
            <div class="item">
                <a href="#">
                    <%=image_tag("Singapore.jpg") %>
                
                </a>        
                <div class="carousel-caption">
                    <h1>Singapore</h1>
                </div>      
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Search -->
<div class="search">
    <div class="container text-center">
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" size="150" placeholder="Bạn Muốn Đi Đâu?" required/>
                <div class="input-group-btn" >
                    <button type="button" class="btn btn-warning">Tìm Tour</button>
                </div>
            </div>
        </form>
  </div>
</div>

<!-- content -->
<div class="content">
    <div class="container">
    <div class="row text-center">
        <div class="tourViet">
            <h1>Tour Trong Nước</h1>
            <p>Việt Nam vẻ đẹp bất tận, điểm đến của mọi nhà!!!</p>           
                <div class="col-sm-3 ">
                   <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
  						<%= image_tag 'da-nang.jpg', class: '' %>
						<% end %>
                        <p><strong >ĐÀ NẴNG- SƠN TRÀ - BÀ NÀ - HỘI AN</strong></p>
                        <p>Thời gian : 4 ngày 3 đêm</p>
                        <p>Khởi hành : Thứ tư - Thứ 7 hằng tuần</p>
                        <p><strong>3.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>                
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                    	<%= link_to '#', class: 'images' do %>
  						<%= image_tag 'hue.jpg', class: '' %>
						<% end %>
                        <p><strong>HUẾ -PHONG NHA – CÙ LAO</strong></p>
                        <p>Thời gian : 5 ngày 4 Đêm</p>
                        <p>Khởi hành : Thứ sáu hằng tuần</p>
                        <p><strong>4.150.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                    	<%= link_to 'detail', class: 'images' do %>
  						<%= image_tag 'nhatrang.jpg', class: '' %>
						<% end %>
                        <p><strong>Nha Trang </strong></p>
                        <p>Thời gian : 3 ngày 2 đêm</p>
                        <p>Khởi hành : Thứ tư - Thứ 7 hằng tuần</p>
                        <p><strong>2.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                    	<%= link_to 'detail', class: 'images' do %>
  						<%= image_tag 'HaNoij.jpg', class: '' %>
						<% end %>
						<p><strong>Hà Nội</strong></p>
                        <p>Thời gian : 1 ngày</p>
                        <p>Khởi hành : Hằng ngày</p>
                        <p><strong>1.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div>           
        </div>
        <a class="views" href="domestic">Xem Thêm</a>
        <div class="tourngoai">
            <h1>Tour Quốc tế</h1>
            <p>Việt Nam vẻ đẹp bất tận, điểm đến của mọi nhà!!!</p>            
                <div class="col-sm-3 ">
                   <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'da-nang.jpg', class: '' %>
                        <% end %>
                        <p><strong >ĐÀ NẴNG- SƠN TRÀ - BÀ NÀ - HỘI AN</strong></p>
                        <p>Thời gian : 4 ngày 3 đêm</p>
                        <p>Khởi hành : Thứ tư - Thứ 7 hằng tuần</p>
                        <p><strong>3.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>                
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to '#', class: 'images' do %>
                        <%= image_tag 'hue.jpg', class: '' %>
                        <% end %>
                        <p><strong>HUẾ -PHONG NHA – CÙ LAO</strong></p>
                        <p>Thời gian : 5 ngày 4 Đêm</p>
                        <p>Khởi hành : Thứ sáu hằng tuần</p>
                        <p><strong>4.150.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'nhatrang.jpg', class: '' %>
                        <% end %>
                        <p><strong>Nha Trang </strong></p>
                        <p>Thời gian : 3 ngày 2 đêm</p>
                        <p>Khởi hành : Thứ tư - Thứ 7 hằng tuần</p>
                        <p><strong>2.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'HaNoij.jpg', class: '' %>
                        <% end %>
                        <p><strong>Hà Nội</strong></p>
                        <p>Thời gian : 1 ngày</p>
                        <p>Khởi hành : Hằng ngày</p>
                        <p><strong>1.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div> 
                <a class="views" href="international">Xem Thêm</a>  
        </div>
    </div>
</div>   
</div>
</body>
</html>


