<% provide(:title, "Domestic")%>
<div class="content">
    <div class="container">
    <div class="row text-center">
        <div class="tourViet">
            <h1>Tour Trong ước</h1>
            <p>Việt Nam vẻ đẹp bất tận, điểm đến của mọi nhà!!!</p>           
               <div class="col-sm-3 ">
                   <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'da-nang.jpg', class: '' %>
                        <% end %>
                        <p><strong >ĐÀ NẴNG- SƠN TRÀ - BÀ NÀ - HỘI AN</strong></p>
                        <p>Thời gian : 4 ngày 3 đêm</p>
                        <p>Khởi hành : Thứ tư - Thứ 7 hằng tuần</p>
                        <p><strong>3.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>                
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to '#', class: 'images' do %>
                        <%= image_tag 'hue.jpg', class: '' %>
                        <% end %>
                        <p><strong>HUẾ -PHONG NHA – CÙ LAO</strong></p>
                        <p>Thời gian : 5 ngày 4 Đêm</p>
                        <p>Khởi hành : Thứ sáu hằng tuần</p>
                        <p><strong>4.150.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'nhatrang.jpg', class: '' %>
                        <% end %>
                        <p><strong>Nha Trang </strong></p>
                        <p>Thời gian : 3 ngày 2 đêm</p>
                        <p>Khởi hành : Thứ tư - Thứ 7 hằng tuần</p>
                        <p><strong>2.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'HaNoij.jpg', class: '' %>
                        <% end %>
                        <p><strong>Hà Nội</strong></p>
                        <p>Thời gian : 1 ngày</p>
                        <p>Khởi hành : Hằng ngày</p>
                        <p><strong>1.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div> <div class="col-sm-3 ">
                   <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'da-nang.jpg', class: '' %>
                        <% end %>
                        <p><strong >ĐÀ NẴNG- SƠN TRÀ - BÀ NÀ - HỘI AN</strong></p>
                        <p>Thời gian : 4 ngày 3 đêm</p>
                        <p>Khởi hành : Thứ tư - Thứ 7 hằng tuần</p>
                        <p><strong>3.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>                
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to '#', class: 'images' do %>
                        <%= image_tag 'hue.jpg', class: '' %>
                        <% end %>
                        <p><strong>HUẾ -PHONG NHA – CÙ LAO</strong></p>
                        <p>Thời gian : 5 ngày 4 Đêm</p>
                        <p>Khởi hành : Thứ sáu hằng tuần</p>
                        <p><strong>4.150.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'nhatrang.jpg', class: '' %>
                        <% end %>
                        <p><strong>Nha Trang </strong></p>
                        <p>Thời gian : 3 ngày 2 đêm</p>
                        <p>Khởi hành : Thứ tư - Thứ 7 hằng tuần</p>
                        <p><strong>2.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'HaNoij.jpg', class: '' %>
                        <% end %>
                        <p><strong>Hà Nội</strong></p>
                        <p>Thời gian : 1 ngày</p>
                        <p>Khởi hành : Hằng ngày</p>
                        <p><strong>1.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div> <div class="col-sm-3 ">
                   <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'da-nang.jpg', class: '' %>
                        <% end %>
                        <p><strong >ĐÀ NẴNG- SƠN TRÀ - BÀ NÀ - HỘI AN</strong></p>
                        <p>Thời gian : 4 ngày 3 đêm</p>
                        <p>Khởi hành : Thứ tư - Thứ 7 hằng tuần</p>
                        <p><strong>3.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>                
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to '#', class: 'images' do %>
                        <%= image_tag 'hue.jpg', class: '' %>
                        <% end %>
                        <p><strong>HUẾ -PHONG NHA – CÙ LAO</strong></p>
                        <p>Thời gian : 5 ngày 4 Đêm</p>
                        <p>Khởi hành : Thứ sáu hằng tuần</p>
                        <p><strong>4.150.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'nhatrang.jpg', class: '' %>
                        <% end %>
                        <p><strong>Nha Trang </strong></p>
                        <p>Thời gian : 3 ngày 2 đêm</p>
                        <p>Khởi hành : Thứ tư - Thứ 7 hằng tuần</p>
                        <p><strong>2.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'HaNoij.jpg', class: '' %>
                        <% end %>
                        <p><strong>Hà Nội</strong></p>
                        <p>Thời gian : 1 ngày</p>
                        <p>Khởi hành : Hằng ngày</p>
                        <p><strong>1.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div> <div class="col-sm-3 ">
                   <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'da-nang.jpg', class: '' %>
                        <% end %>
                        <p><strong >ĐÀ NẴNG- SƠN TRÀ - BÀ NÀ - HỘI AN</strong></p>
                        <p>Thời gian : 4 ngày 3 đêm</p>
                        <p>Khởi hành : Thứ tư - Thứ 7 hằng tuần</p>
                        <p><strong>3.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>                
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to '#', class: 'images' do %>
                        <%= image_tag 'hue.jpg', class: '' %>
                        <% end %>
                        <p><strong>HUẾ -PHONG NHA – CÙ LAO</strong></p>
                        <p>Thời gian : 5 ngày 4 Đêm</p>
                        <p>Khởi hành : Thứ sáu hằng tuần</p>
                        <p><strong>4.150.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'nhatrang.jpg', class: '' %>
                        <% end %>
                        <p><strong>Nha Trang </strong></p>
                        <p>Thời gian : 3 ngày 2 đêm</p>
                        <p>Khởi hành : Thứ tư - Thứ 7 hằng tuần</p>
                        <p><strong>2.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="thumbnail ">
                        <%= link_to 'detail', class: 'images' do %>
                        <%= image_tag 'HaNoij.jpg', class: '' %>
                        <% end %>
                        <p><strong>Hà Nội</strong></p>
                        <p>Thời gian : 1 ngày</p>
                        <p>Khởi hành : Hằng ngày</p>
                        <p><strong>1.250.000 VNĐ</strong></p>
                        <a href="detail" class="xemTour btn">Xem Tour</a>
                    </div>
                </div>    
        	</div>                
        </div>
    </div>
</div> 
