<% provide(:title, "Thông Tin Tour")%>
<div class="pay">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-4">
                 <%=image_tag("icon_thongtin.png") %>
                <div class="title">Thông Tin</div>
            </div>
            <div class="col-sm-4">
            	<%=image_tag("checked.png") %>
                <div class="title">Xác Nhận</div>
            </div>
            <div class="col-sm-4">
            	<%=image_tag("icon_thanhtoan.png") %>
                <div class="title">Thanh Toán</div>
            </div>
        </div>
        <div class="row text-center" id="pay-process">
            <div id="process">
                <div class="col-sm-4">
                    <div class="processly">
                        <div class="process-bar"><span class="glyphicon glyphicon-ok"></span></div>
                    </div>
                </div>       
                <div class="col-sm-4"><div class="process"></div></div>
                <div class="col-sm-4"><div class="process"> </div></div>   
            </div>           
        </div>
    </div>
</div>
<div class="thongtinthanhtoan">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				 <%=image_tag 'thailand.jpg', class: 'img-responsive' %>
			</div>
			<div >
				<div class="col-sm-7" id="noidungtttt">
					<div class="row">
						<div class="col-sm-12 text-center"><h2><%= @description_detail.tour.name %></h2></div>
					</div>				
					<div class="row infoThanhToan ">
						<div class="col-sm-12">
							<div class="col-sm-6"><span class="glyphicon glyphicon-calendar"></span> Ngày Khởi Hành: 
							<strong> <%= l @description_detail.start_day, format: "%d-%m-%Y" %></strong>
							</div>
							<div class="col-sm-6"><span class="glyphicon glyphicon-calendar"></span> Ngày Kết Thúc: <strong> <%= l @description_detail.end_day, format: "%d-%m-%Y" %></strong> </div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-6"><span class="glyphicon glyphicon-usd"></span> Giá Tour: <strong><%= @description_detail.price %></strong></div>
							<div class="col-sm-6"><span class="glyphicon glyphicon-th"></span> Số Chỗ Còn Nhận: <strong><%= @description_detail.max_quantity %></strong> </div>
						</div>
						<%= form_for(@booking) do |f| %>
							<div class="col-sm-12">
								<%= hidden_field_tag "booking[description_detail_id]", @description_detail.id %>
					            <%= hidden_field_tag "booking[user_id]", current_user.id %>
					            <%= hidden_field_tag "booking[price]", @description_detail.price, id: "price" %>
								<div class="col-sm-6"><span class="glyphicon glyphicon-transfer"></span> Số Khách Đi Tour: </div>
								<div class="col-sm-6">
								<%= f.number_field :quantity, class: 'form-control'%>
							</div>
							</div>
							<div class="col-sm-12 text-center">
								<%= f.submit 'Xác Nhận',  class: 'btn btn-warning'%> 
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
