<% provide(:title, "Domestic")%>
<div class="content">
    <div class="search">
        <div class="container text-center">
            <%= search_form_for @search ,class: "form-inline" do |f| %>
                <div class="input-group">
                    <!-- <input type="text" class="form-control" size="150" placeholder="Bạn Muốn Đi Đâu?" required/> -->
                    <%= f.text_field :name_or_itinerary_cont, class: "form-control", size: "150", placeholder: "Bạn Muốn Đi Đâu?" %>
                    <div class="input-group-btn" >
                        <%= submit_tag "Tìm Tour", class: "btn btn-warning" %>
                    </div>
                </div>
            <% end %>
      </div>
    </div>
    <div class="container">
    <div class="row text-center">
       <div class="tourViet">
       <% if params[:filter] == "tours_domestic" %>
          <h1>Tour Trong Nước</h1>
            <p>Việt Nam vẻ đẹp bất tận, điểm đến của mọi nhà!!!</p>   
            <% @tours_domestic.each do |tour_domestic| %>
                <div class="col-sm-3 "> 
                    <div class="thumbnail ">
                    <%= link_to tour_domestic, class: 'images' do %>
                        <%= image_tag 'nhatrang.jpg', class: '' %>
                    <% end %>
                    <p><strong > <%= tour_domestic.name %></strong></p>
                    <%= link_to 'Xem Tour', tour_domestic, class: 'xemTour btn'%>
                    </div>                     
                </div>
            <% end %>
        <% elsif params[:filter] == "tours_international" %>
            <h1>Tour Thế Giới</h1>
            <p>thees gioi vẻ đẹp bất tận, điểm đến của mọi nhà!!!</p>   
            <% @tours_international.each do |tour_international| %>
                <div class="col-sm-3 "> 
                    <div class="thumbnail ">
                    <%= link_to tour_international, class: 'images' do %>
                    <%= image_tag 'thailand.jpg', class: '' %>
                    <% end %>
                    <p><strong > <%= tour_international.name %></strong></p>
                    <%= link_to 'Xem Tour', tour_international, class: 'xemTour btn'%>
                    </div>                     
                </div>
            <% end %>
        <% else %>
            <h1>Danh Sach Tour</h1>
            <p>nhung tour lien quan den tim kiem cua ban</p>   
            <% @tours.each do |tour| %>
                <div class="col-sm-3 "> 
                    <div class="thumbnail ">
                    <%= link_to tour, class: 'images' do %>
                    <%= image_tag 'thailand.jpg', class: '' %>
                    <% end %>
                    <p><strong > <%= tour.name %></strong></p>
                    <%= link_to 'Xem Tour', tour, class: 'xemTour btn'%>
                    </div>                     
                </div>
            <% end %>
        <% end %>  
        </div>
    </div>
</div> 
