<% provide(:title, "Đăng Nhập")%>
<html lang="en">
<body>
<div class="login">
    <div class="modal-dialog">    
      <div class="modal-content">
        <div class="modal-header">
          <h1> Đăng Nhập</h1>
        </div>
        <div class="modal-body">
          <div class="form-group">
           <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.label :email, " Nhập Email",class: "glyphicon glyphicon-user" %>
              <%= f.email_field :email, class: 'form-control', placeholder: "Nhập email..." %>
              <%= f.label :Password, " Nhập Mật Khẩu",class: "glyphicon glyphicon-eye-open" %>
              <%= f.password_field :password, class: 'form-control', placeholder: "Nhập email..." %>
               <%= f.submit "Log in", class: "btn btn-warning btn-block"%>
           
          <% end %>
          </div>
          <p>Bạn chưa có tài khoản?  <%= link_to "Đăng ký ngay!", new_user_registration_path%></p>
        </div>
      </div>      
    </div>
</div>
  </body>
</html>


