<% provide(:title, "quan ly danh muc")%>
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
               <%= link_to "them moi", new_admin_category_path, class: "btn btn-warning" %>
              <div class="card">
                <div class="card-header card-header-primary" >
                  <h4 class="card-title ">Quản Lý Danh Mục</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary text-center">
                        <th>ID</th>
                        <th>Tên Loại Tour</th>
                        <th>Chức Năng</th>
                      </thead>
                      <tbody>
                         <% flash.each do |message_type, message| %>
                            <div class="message alert alert-<%= message_type %>"><%= message %></div>
                          <% end %>
                        <% @admin_categories.each do |admin_category | %>
                          <tr class="text-center">
                            <td><%= admin_category.id %></td>
                            <td><%= admin_category.name %></td>
                            <td>
                              <%= link_to "Sửa", edit_admin_category_path(admin_category) %>
                              <%= image_tag("edit.png") %>
                              <% if current_user.admin? %>
                                <%= link_to admin_category_path(admin_category), method: :delete,data: { confirm: "You sure?" } do %>
                                    Delete
                                    <%= image_tag("delete.png") %>
                                <% end %>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>     
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          <%= will_paginate @admin_categories %>
    </div>
  </div>
</div>