<% provide(:title, "chinh sua thong tin nguoi dung")%>
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Thêm Người Dùng</h4>
                </div>
                <div class="card-body">
                   <%= form_for [:admin, @admin_user] do |f| %>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <%= f.label :name, class: 'bmd-label-floating'%>
                          <%= f.text_field :name, class: 'form-control' %>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <%= f.label :email, class: 'bmd-label-floating'%>
                          <%= f.email_field :email, class: 'form-control', readonly: "False" %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <%= f.label :password, class: 'bmd-label-floating' %>
                          <%= f.password_field :password, class: 'form-control'%>
                        </div>
                      </div>
                    </div>
                     <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <%= f.label :password_confirmation, class: 'bmd-label-floating' %>
                          <%= f.password_field :password_confirmation, class: 'form-control' %>
                        </div>
                      </div>
                    </div> 
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <%= f.label :address, class: 'bmd-label-floating'%>
                          <%= f.text_field :address, class: 'form-control' %>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <%= f.label :phone_number, class: 'bmd-label-floating'%>
                          <%= f.text_field :phone_number, class: 'form-control' %>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Cấp Bậc</label>
                           <select class="form-control" >
                              <option>Admin</option>
                              <option>Nhân Viên</option>
                            </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5"></div>
                      <div class="col-md-4">
                          <%= f.submit "Thêm Mới", class: "btn btn-primary text-center",data: { confirm: "ban muon chinh sua nguoi dung" } %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>   
