<% provide(:title, "quan ly thong tin nguoi dung")%>
 <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
            		<%= link_to "Thêm mới", new_admin_user_path, class: "btn btn-warning" %>
              <div class="card">
                <div class="card-header card-header-primary" >
                  <h4 class="card-title ">Thông Tin Người Dùng</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary text-center">
                        <th>ID</th>
                        <th>Họ Tên</th>
                        <th>Email</th>
                        <th>Địa Chỉ</th>
                        <th>Phone</th>
                        <th>Cấp Bậc</th>
                        <th>Chức Năng</th>
                      </thead>
                      <% @admin_users.each do |admin_user| %>
                      <tbody>
                        <tr class="text-center">
                          <td><%= admin_user.id%></td>
                          <td><%= admin_user.name%></td>
                          <td><%= admin_user.email%></td>
                          <td><%= admin_user.address%></td>
                           <td><%= admin_user.phone_number%></td>
                          <% if admin_user.admin? %>
                            <td> Admin </td>
                          <% elsif admin_user.role == "staff" %>
                              <td> Nhan vien </td>
                              <% else %>
                              <td> khach hang </td>
                          <% end %>
                          <td>
                              <%= link_to "Sửa", edit_admin_user_path(admin_user) %>
                              <%= image_tag("edit.png") %>
                             <% if current_user.admin? %>
                                <%= link_to admin_user_path(admin_user), method: :delete,data: { confirm: "You sure?" } do %>
                                    Delete
                                    <%= image_tag("delete.png") %>
                                <% end %>
                              <% end %>
                          </td>
                        </tr>                                                                          
                      </tbody>
                      <% end %>
                    </table>
                    <%= will_paginate @admin_users %>
                  </div>
                </div>
              </div>
              
            </div>
    </div>
  </div>